*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.heading{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2.5rem;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
     'Trebuchet MS', sans-serif;
     background-color:rgb(249, 171, 25);
     border-top: 2px solid black;
     border-bottom: 2px solid black;
  
     box-shadow: 0 0 25px rgb(249, 171, 25);
     
     padding: 30px;
}
.product-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
  
}

@media(max-width:420px){
.product-card{
    display:flex;
    flex-direction: column;
    width:80%;
    border:2px solid black;
    border-radius: 6px;
    box-shadow: 0 0 25px rgb(249, 171, 25);
    text-align: center;
    padding: 1.5em;
    margin: 0.5em;
    margin-bottom: 2em;
    overflow: hidden;
    background-color: white;
    }

}

@media(min-width:420px){
.product-card{
    display:flex;
    flex-direction: column;
    width:40%;
    border:2px solid black;
    border-radius: 6px;
    box-shadow: 0 0 25px rgb(249, 171, 25);
    text-align: center;
    padding: 1.5em;
    margin: 0.5em;
    margin-bottom: 2em;
    overflow: hidden;
    background-color: white;
    }
}

@media(min-width:700px){
.product-card{
    display:flex;
    flex-direction: column;
    width:30%;
    border:2px solid black;
    border-radius: 6px;
    box-shadow: 0 0 25px rgb(249, 171, 25);
    text-align: center;
    padding: 1.5em;
    margin: 0.5em;
    margin-bottom: 2em;
    overflow: hidden;
    background-color: white;
    }
}
@media(min-width:1000px){
.product-card{
    display:flex;
    flex-direction: column;
    width:20%;
    border:2px solid black;
    border-radius: 6px;
    box-shadow: 0 0 25px rgb(249, 171, 25);
    text-align: center;
    padding: 1.5em;
    margin: 0.5em;
    margin-bottom: 2em;
    overflow: hidden;
    background-color: white;
    }   
}

.product-title{
font-size: 1.3rem;
}
.product-category,.product-price{
font-weight: bold;
text-transform: capitalize;
margin: 1em;
font-size: 1.2rem;
}
img{
width: 100%;
} 

